<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Tela de login</h1>

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        
        Username: <input type="text" name="username" required>
                  <br><br>
        Senha:    <input type="password" name="password" required>
                  <br><br>
                  <input type="submit" value="Fazer Login">

    </form>

    <br>
    <a href="{% url 'cadastro' %}">Registrar-se</a>
    
</body>
</html>