{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'profiles.css' %}">
    <!-- parte abaixo é sobre a fonte que carrega do google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap" rel="stylesheet">

</head>
<body>

    <div class="profile-container">
        <h1>CADASTRO</h1>

    <!--Formulário de cadastro-->

    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        
        E-mail:   <input type="email" name="email" required>
                  <br><br>
        Username: <input type="text" name="username" required>
                  <br><br>
        Senha:    <input type="password" name="password" required>
                  <br><br>
                  <input type="submit" value="Cadastrar" required>
                  
    </form> 

    <a href="{% url 'login' %}">Voltar</a>

    </div>

</body>
</html>