<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todas as Tarefas</title>

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>

</head>
<body>
    <h1>Todas as Tarefas</h1>
    


    <form action="{% url 'all_tasks' %}" method="POST">
        {% csrf_token %}

        <label for="status_filter">Filtrar por Status:</label>
        <select name="status_filter" id="status_filter">
            <option value="Pendente" {% if selected_status == 'Pendente' %}selected{% endif %}>Pendente</option>
            <option value="Em andamento" {% if selected_status == 'Em andamento' %}selected{% endif %}>Em andamento</option>
            <option value="Concluído" {% if selected_status == 'Concluído' %}selected{% endif %}>Concluído</option>
        </select>
        <input type="submit" value="Filtrar">
        <button><a href="{% url 'all_tasks' %}" style="text-decoration: none;color: black">Limpar</a></button>
    </form>
    

    <table>
        <thead>
            <tr>
                <th>Nome da Tarefa</th>
                <th>Status</th>
                <th>Descrição</th>
                <th>Usuário</th>
            </tr>
        </thead>
        <tbody>
            {% for tarefa in tarefas %}
                <tr>
                    <td>{{ tarefa.task_name }}</td>
                    <td>{{ tarefa.task_status }}</td>
                    <td>{{ tarefa.task_desc }}</td>
                    <td>{{ tarefa.assigned_to }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">Não há tarefas</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <a href="{% url 'home' %}">Voltar para a home</a>

</body>
</html>