{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Tarefas</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
    <!-- parte abaixo é sobre a fonte que carrega do google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="profile-container">
        <h1>Olá, {{ request.user }}!</h1>
        <br>
        <button class="button-menu"><a style="text-decoration: none; color: white;" href="{% url 'create_task' %}">Criar Nova Tarefa</a></button>
        <br>
        <button class="button-menu"><a style="text-decoration: none; color: white;" href="{% url 'my_tasks' %}">Minhas Tarefas</a></button>
        <br>
        <button class="button-menu"><a style="text-decoration: none; color: white;" href="{% url 'all_tasks' %}">Todas as Tarefas</a></button>
        <br>
        <button class="button-menu"><a style="text-decoration: none; color: white;" href="{% url 'user_list' %}">Lista de Usuários</a></button>
        <br><br><br>
        <button class="button-hover">
            <a href="{% url 'logout' %}" style="text-decoration: none; color: black;">Logout</a>
        </button>
    </div>
</body>
</html>