<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Tarefas</title>
</head>
<body>
    <h1>
        Página inicial 'home' -> Construir tela principal contendo opções de (Login, Cadastro, etc)
    </h1>
        <p>Olá, {{ request.user }}</p>
        <br>
        <a href="{% url 'listausuarios' %}">Ir para lista de usuarios</a>
        <br>
        <a href="{% url 'create_task' %}">Ir para criação de tarefas</a>
        <br>
        <a href="{% url 'my_tasks' %}">Ir para lista de tarefas</a>
        <br><br><br>
        <button>
            <a href="{% url 'logout' %}" style="text-decoration: none;color: black;">Logout</a>
        </button>
</body>
</html>