{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Minhas Tarefas</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
    <!-- parte abaixo é sobre a fonte que carrega do google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap" rel="stylesheet">

</head>

<body>

    <div class="profile-container">
        <h1>Gerenciar Minhas Tarefas</h1>

        <!--Formulário para edição da tarefa em específico-->
        <div class="form-container">
        <form action="{% url 'manage_task' edit_task.id %}" method="POST">
            {% csrf_token %}

            <label for="task_name">Nome da Tarefa:</label>
            <input type="text" name="task_name" id="task_name" value="{{ edit_task.task_name }}">
            <br><br>

            <label for="task_desc">Descrição da Tarefa: </label>
            <input type="text" name="task_desc" id="task_desc" value="{{ edit_task.task_desc }}">
            <br><br>

            <label for="assigned_to">Atribuição da Tarefa:</label>
            <select name="assigned_to" id="assigned_to">
                <option value="{{ request.user }}">{{ request.user }}</option>
                {% for usuario in usuarios %}
                {% if usuario != request.user %}
                <option value="{{ usuario.username }}">{{ usuario.username }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <br><br>

            <label for="task_status">Status da Tarefa:</label>
            <select name="task_status" id="task_status">
                <option value="Pendente" {% if edit_task.task_status == 'Pendente' %} selected {% endif %}>Pendente</option>
                <option value="Em andamento" {% if edit_task.task_status == 'Em andamento' %} selected {% endif %}>Em andamento</option>
                <option value="Concluído" {% if edit_task.task_status == 'Concluído' %} selected {% endif %}>Concluído</option>
            </select>
            <br><br>

            <input style="font-size:12px;" class="main-button" type="submit" value="Editar tarefa">
            <br><br>
            <!--Botão para deletar a tarefa-->
        </form>
        <button class="main-button"> 
            <a style="font-size:12px;text-decoration: none;color: white;" href="{% url 'delete_task' edit_task.id %}">Deletar Tarefa</a>
        </button>
        </div>
        

        <br><br>
        <a href="{% url 'home' %}">Voltar</a>
    </div>

</body>

</html>